*, *::after, *::before{
    box-sizing: border-box;
    
}
:root{
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size)*.9)
}

body{
    margin: 0;
}

.top{
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    text-align: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    color: black;
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: -16vh;
}
.top h1{
    margin: 0;;
}
.break{
    flex-basis: 100%;
}

.board{
    width: 100vw;
    height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, auto);
    padding-top: 0%;
}

.cell{
    width: var(--cell-size);
    height: var(--cell-size);
    border: 2px solid rgb(39, 38, 38);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
    border-top: none;
}

.cell:nth-child(3n+1){
    border-left: none;
}
.cell:nth-child(3n+3){
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:last-child{
    border-bottom: none;
}
.cell.x,
.cell.o{
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after{
    background-color: rgb(5, 73, 132);
}

.cell.o::before{
    background-color: rgb(180, 8, 8);
}
.cell.o::after{
    background-color: white;
}

.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after{
  background-color: rgb(113, 189, 255);
}

.board.o .cell:not(.x):not(.o):hover::before{
    background-color: rgb(255, 97, 97);
}
.board.o .cell:not(.x):not(.o):hover::after{
    background-color: white;
} 

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after{
    content: '';
    width: calc(var(--mark-size)*.20);
    height: var(--mark-size);
    position: absolute;
    border-radius: 20%;
}

.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before{
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after{
    transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after{
    content: '';
    position: absolute;
    border-radius: 50%;
    
}

.cell.o::before,
.board.o .cell:not(.x):not(.o):hover::before{
    width: calc(var(--mark-size)*.9);
    height: calc(var(--mark-size)*.9);
}

.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after{
    width: calc(var(--mark-size)* .6);
    height: calc(var(--mark-size)* .6);
}

.winning-message{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}

.winning-message button{
    font-size: 3rem;
    background-color: white;
    padding: .25em .5em;
    cursor: pointer;
}

.winning-message button:hover{
    background-color: black;
    color: white;
    border-color: white;
    border-width: .1rem;
}

.winning-message.show{
    display: flex;
}


